.home {
    width: 100%;
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.cont-barraLateral-Y-listaProps {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: start;
    align-items: start;
    background-color: var(--color-negro);
} 
.cont-barraLateral {
    position: sticky;
    top: 10px; /* La distancia desde la parte superior de la ventana */
    max-height: calc(100vh - 20px); /* Ajusta la altura máxima para evitar que salga del contenedor */
    overflow-y: auto; /* Permite el desplazamiento dentro de la barra lateral si el contenido es más largo */
}

.cont-listaProps-Y-paginacion {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--color-negro);
}

/* responsive */
@media screen and (max-width: 500px){
    .cont-barraLateral-Y-listaProps {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .cont-barraLateral {
        position: relative;
        height: auto;
        margin: 0;
    }
    .cont-listaProps-Y-paginacion {
        width: 95%;
    }
}